@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    background: #fff;
    font: normal 15px "Microsoft YaHei";
    /*background: url('img/login/beg3.jpg') 0px 0px no-repeat;*/
}

#login_area {
    width: 100%;
    height: 433px;
    position: absolute;
    top: 22%;
}

#login_box {
    margin: 0 auto;
    width: 812px;
    height: 408px;
    position: relative;
    color: #1e1d1c;
}

#login_form {
    width: 306px;
    height: 320px;
    position: relative;
    margin: 0 auto;
    background: url('img/login/bottom.gif') 0px 0px no-repeat;
}

#login_tip {
    margin-top: 70px;
}

#datesheet_box {
    width: 248px;
    margin-top: 8px;
    float: left;
}

.datesheet_n {
    font-size: 12px;
    line-height: 30px;

}

.Prompt {
    margin-top: 2px;
    font-size: 12px;
    text-align: center;
    color: #F71212;
    height: 12px;
}

#btn_area {
    margin-top: 50px;
}

.username, .pwd {
    line-height: 20px;
    margin-top: 10px;
    outline: 0;
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow, border-color .5s ease-in-out;
    -moz-transition: box-shadow, border-color .5s ease-in-out;
    -o-transition: box-shadow, border-color .5s ease-in-out;
    opacity: 0.5;
    color: #bfbbbbed;
}

.login_btn {
    width: 107px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: "Microsoft YaHei", "微软雅黑", "sans-serif";
    float: left;
    /*background: url('img/login/btn.png') 0px 0px no-repeat;*/
}

.login_btn:hover {
    cursor: pointer;
    color: #00204b;
}

.sty_txt2 {
    color: #b3b9b3;
    font-size: 21px;
    margin-left: 80px;
}