html, body, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
    font-family: 'Roboto', "Helvetica Neue",Helvetica,
    "Segoe UI",Arial,"Microsoft YaHei",FreeSans,Arimo,
    "Droid Sans","wenquanyi micro hei",sans-serif !important;
}

html {
    scrollbar-arrow-color: #f4ae21; /*三角箭头的颜色*/
    scrollbar-face-color: #333; /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666; /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #666; /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666; /*立体滚动条背景颜色*/
    scrollbar-base-color: #f8f8f8; /*滚动条的基本颜色*/
}

body {
    font-size: 15px;
    line-height: 24px;
}

/*去掉输入框默认选中外边的蓝色框框*/
input {
    outline: none;
}

#App {
    width: 100%;
    height: 100%;
    /*min-height: 971px;*/
    overflow: hidden;
    position: relative;
    background: #eee;
}

.member-box, .left-box, .chat-box {
    height: 100%;
    min-height: 650px;
    float: left;
}

.left-box {
    width: 60px;
    background: rgba(12, 137, 255, .9);
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
}

.member-box {
    width: 215px;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    background: rgba(239, 240, 245, .6);
}

.member-list {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.541176);
    font-size: 14px;
    font-weight: 500;
    padding-left: 16px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.member-list span {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.541176);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding-left: 16px;
    width: 100%;
}

.avatar {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    background-image: url('img/toux.jpg');
}

.selfinfo-avatar {
    margin-top: 20px;
}

@media screen and (max-width: 1800px) and (min-width: 900px) {
    #chat-head {
        width: 600px;
        height: 55px;
        background: hsla(0, 0%, 100%, .65034);
    }

    .chat-box {
        min-width: 600px;
    }

    .input-content input {
        width: 500px;
        font-size: 1rem;
        height: 33px;
        margin-top: 2px;
        padding-right: 29px;
    }
}

@media screen and (max-width: 900px) and (min-width: 340px) {
    #chat-head {
        width: 100%;
        height: 55px;
        background: hsla(0, 0%, 100%, .65034);
    }

    .chat-box {
        min-width: 400px;
    }

    .input-content input {
        width: 400px;
        font-size: 1rem;
        height: 33px;
        margin-top: 2px;
        padding-right: 29px;
    }
}

.chat-avatar {
    font-weight: 600;
    font-style: italic;
    padding-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-image: url("img/bee.jpg");
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-top: 9px;
}

.headbar-room-name {
    font-weight: 600;
    font-style: italic;
    padding-left: 10px;
    line-height: 55px;
}

#chat-content {
    /*overflow-y: scroll;*/
    padding-bottom: 2px;
    min-height: 850px;
    /*max-height: 850px;*/
}

@media screen and (min-width: 1920px) {
    #chat-head {
        width: 1623px;
        height: 55px;
        background: hsla(0, 0%, 100%, .65034);
    }

    .chat-box {
        min-width: 1623px;
    }

    .input-content input {
        width: 1024px;
        font-size: 1rem;
        height: 33px;
        margin-top: 2px;
        padding-right: 29px;
    }
}
.listitem-li{
    padding-left: 10px;
}
.room{
    border-radius: 5px;
    cursor: pointer;
}
.room:hover{
    background: #f8f9fa;
}
.room_select{
    background: #f8f9fa;
}

.face{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../css/img/face1.png");
}
.face:hover{
    background-image: url("../css/img/face2.png");
}
.send{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../css/img/send1.png");
}
.send:hover{
    background-image: url("../css/img/send2.png");
}
.pic{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("../css/img/pic1.png");
}
.pic:hover{
    background-image: url("../css/img/pic2.png");
}

.heardPic{
    float:left;
    margin: 5px 0 5px 10px;
    width: 40px;
    height: 40px;
    background-image: url("img/bee.jpg");
}



.message-container {
    width: 100%;
    /*max-width: 980px;*/
    padding: 10px 6px 0 12px;
}
.avatar-container {
    margin-top: 5px;
}
.message {
    position: relative;
    display: inline-block;
    word-break: break-all;
    background: #fff;
    text-align: left;
    padding: 6px 12px;
    max-width: 95%;
    min-height: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.triangle-left-outer {
    left: -9px;
    border-right: 10px solid #ccc;
    top: 5px;
}
.triangle-left-inner, .triangle-left-outer {
    content: "";
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 7px solid transparent;
}
.triangle-left-inner, .triangle-left-outer {
    content: "";
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 7px solid transparent;
}
.triangle-left-inner {
    left: -7px;
    border-right: 10px solid #fff;
    top: 6px;
}

.triangle-right-outer {
    right: -9px;
    border-left: 10px solid #ccc;
    top: 5px;
}
.triangle-right-inner, .triangle-right-outer {
    content: "";
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 7px solid transparent;
}
.triangle-right-inner, .triangle-right-outer {
    content: "";
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    position: absolute;
    border-top: 2px solid transparent;
    border-bottom: 7px solid transparent;
}
.triangle-right-inner {
    right: -7px;
    border-left: 10px solid #fff;
    top: 6px;
}

.icon {
    position: absolute;
    margin-top: -230px;
    width: 520px;
    height: 220px;
    display: inline-block;
    background-color: #fff;
    z-index: 8900;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.arrow {
    width: 13px;
    height: 8px;
    background: url(/css/img/price_arrow.gif) no-repeat;
    position: absolute;
    z-index: 8901;
    top: -8px;
    left: 50px;
}

ul li {
    float: left;
}

img {
    height: 120px;
    cursor: pointer;
}

/*搜索框样式*/
.member-list input[type='text'] {
    display: inline-block;
    width: 190px;
    border-radius: 15px;
    height: 30px;
    text-indent: 30px;
    border: 1px solid;
}

.member-list input[type='text']:focus {
    border: 0px;
    border-color: white;
}

.member-list i {
    position: relative;
    left: 12px;
    top: 28px;
}

#search_result {
    border: 1px solid #bdb8b8;
    height: 180px;
    width: 190px;
    position: fixed;
    background: #eee;
    z-index: 97;
    overflow-y: auto;
    display: none;
}

.bgc {
    background: #72f054;
}

/*圆形*/
.circle {
    display: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #ff0000;
    margin-left: 30px;
    margin-top: 9px;
    float: left;
}

/*聊天框滚动条样式*/
div.chat-scroll {
    padding-bottom: 2px;
    min-height: 560px;
}

/*仅支持webkit内核浏览器*/
/*高宽分别对应横竖滚动条的尺寸*/
div.chat-scroll::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

/*滚动条里面小方块*/
div.chat-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #dedcdc;
}

/*滚动条里面轨道*/
div.chat-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

/*退出按钮*/
div.login_out {
    position: absolute;
    bottom: 2px;
    margin-left: 14px;
    color: #d91e1e;
}

div.login_out:hover {
    cursor: pointer;
}

pre {
    margin: 0 0 0;
}

#chat-head i {
    margin-left: 10px;
    color: rgba(157, 155, 156, 0.9);

}

div.right-info {
    float: left;
    width: 35%;
    min-height: 650px;
}