<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liu.webChat.mybatis_dao.IRoomMsgDao">
    <insert id="saveMsg">
        insert into room_msg (room_id,user_id,msg,time_str,create_time)
        VALUES (#{room_id},#{user_id},#{msg},#{time_str},#{create_time});
    </insert>

    <select id="initMsg" resultType="Map">
        select a.*,b.room_name,c.username,c.nickname,c.photo_address from room_msg a left join chat_room b on a.room_id=b.id
        left join user_info c on a.user_id=c.id
        where a.room_id=#{roomId}
        order by a.create_time desc limit #{index},20
    </select>

    <select id="realTimeMsg" resultType="Map">
        select a.*,b.room_name,c.username,c.nickname from room_msg a left join chat_room b on a.room_id=b.id
        left join user_info c on a.user_id=c.id
        where a.room_id=#{roomId} and a.user_id !=#{userId} and time_str>#{lastTimeStr}
    </select>
</mapper>