<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.liu.webChat.mybatis_dao.IUserInfoDao">
    <insert id="saveUserInfo">
        insert into user_info (username,password,phone,nickname,age,address,photo_address,create_time)
        VALUES (#{username},#{password},#{phone},#{nickname},#{age},#{address},#{photo_address},#{create_time});
    </insert>

    <select id="findUserInfo" resultType="cn.liu.webChat.domain.UserInfo">
        select * from user_info where id=#{id}
    </select>

    <select id="findUserByUsername" resultType="cn.liu.webChat.domain.UserInfo">
        select * from user_info where username=#{username}
    </select>

    <select id="findUserByNickname" resultType="cn.liu.webChat.domain.UserInfo">
        select * from user_info where nickname like '%${nickname}%'
    </select>

    <select id="findFrineds" resultType="cn.liu.webChat.domain.UserInfo">
        select * from user_info where id in(
        select user_id from room_user where room_id in
        <foreach collection="roomIds" item="roomId" open="(" close=")" separator=",">
            #{roomId}
        </foreach>
        and user_id!=#{userId}
        )
    </select>
</mapper>